.light-blue{
    background-color: #C2DCFF;
}

.medium-blue{
    background-color: #7BA8FB;
}

.light-green{
    background-color: #66e766;
}

.text-medium-blue{
    color: #7BA8FB;
}

.red-bg{
    background-color: #E57979;
}